@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.typeone {
  margin-bottom: 50px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 30px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 10px;
}

.progress-done {
  background: linear-gradient(
    90deg,
    rgba(116, 237, 146, 1),
    rgba(9, 121, 12, 1)
  );
  box-shadow: 0 3px 3px -5px rgba(116, 237, 146, 1),
    0 2px 5px rgba(116, 237, 146, 1);
  border-radius: 20px;
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 5s ease-in-out;
}

.check {
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.check:hover {
  background-color: lightskyblue;
  color: #fff;
}

.progress-done2 {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease;
}

.num1,
.num2 {
  opacity: 0;
  color: #fff;
}
