@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
}
h1 {
    text-align: center;
}

#ourForm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    
}

.inputthing {
    padding: 15px;
    margin-right: 0;
    width: 70%;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

.inputthing:focus {
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.btn {
    margin-left: 0;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: skyblue;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.btn-red {
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li {
    margin: 5px;
    
}